
#install gene_annotation requirements
conda install bioconda::augustus
conda install bioconda::gffread
conda install blast=2.14.0
conda install orthofinder=2.5.5
conda install mcscanx
conda install r-base=4.4.1
conda install  r-devtools
conda install  r-BiocManager
conda install bioconductor-biostrings
#To install genespace R needs to be activated within the terminal first
devtools::install_github("jtlovell/GENESPACE")
BiocManager::install("rtracklayer")

#TE annotation requirments
conda install edta
conda install repeatmasker

#Repeat annotation
#For quarTeT to work these packages need to be installed 
conda install minimap2=2.26 
conda install mummer4=4.0.0rc1
conda install trf=4.09.1
conda install cd-hit=4.8.1
conda install tidk=0.2.31
conda install r=4.3
conda install r-rideogram=0.2.2
conda install r-ggplot2=3.4.4
conda install gnuplot=5.4
conda install unimap=0.1
